html {
    font-size: 62.5%;
    font-family: sans-serif;
    background: silver;
}

body {
    display: flex;
    align-items: stretch;
}
.sidebar {
    height: 100vh;
    flex: 1;
    background: url(crime-scene.png) no-repeat center/cover;
}
.content {
    width: 100px;
    flex: 2;
}
.logo-bar {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin: 30vh 0 0 0;
    background: rgb(128, 128, 128, 0.9);
    padding: 10px;
}
h1 {
    font-size: 3rem;
    transform: scale(1, 2);
    color: firebrick;
}
img {
    height: 100%;
}
.page-title {
    font-size: 2rem;
    flex: 1;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
}
form {
    font-size: 1.6rem;
}
form {
    flex: 2;
    display: flex;
    flex-direction: column;
}
fieldset {
    display: flex;
    padding: 2rem 0 10px 0;
    position: relative;
    border: none;
    background: gainsboro;
    margin: 10px 0;
    box-shadow: 3px 2px 7px 3px rgb(0, 0, 0, 0.2);
}
legend {
    position: absolute;
    left: 5%;
    top: 5px;
    font-size: 2rem;
}
.column {
    margin: 0 0 0 5%;
    display: flex;
    flex-direction: column;
}
label {
    margin: 20px 0 5px 0;
    font-size: 1.3rem;
}
span {
    position: relative;
}
input {
    appearance: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid #000;
}
input:required + span::after {
    content: "*";
    color: red;
    position: absolute;
    right: 0;
    top: -3.6rem;
}
input:focus {
    border: 1px solid yellow;
    box-shadow: 3px 3px 7px 1px rgb(0, 0, 0, 0.2);
}
input:invalid {
    border: 1px solid red;
}
button {
    align-self: flex-start;
    margin: 10px 0 0 5%;
    padding: 5px 30px;
    border-radius: 8px;
    background: crimson;
    color: gold;
}
form p {
    margin: 10px 0 0 5%;
    font-size: 1.4rem;
}
a {
    text-decoration: none;
    color: crimson;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
